body {
  background-image: url(/Assets/Images/designer_1.png), url(/Assets/Images/Rectangle.png);
  background-repeat: no-repeat, no-repeat;
  background-position: 100% 0%, 0px 3600px;
  background-size: auto, 130%;
}

header {
  background-color: transparent;
  width: 100%;
}
header nav {
  width: 100%;
}
header nav .container {
  width: 100%;
  height: 60px;
}
header nav .container .menu {
  width: 245px;
  height: 24px;
  color: #505f98;
}
header nav .container .logo {
  font-size: 38px;
  font-weight: 900;
}
header nav .container .btn {
  width: 160px;
  height: 26px;
  color: white;
  background-color: #111b47;
  font-size: 12px;
  border-radius: 2px;
  font-weight: 500;
}
header nav .container .btn:hover {
  background-color: #505f98;
}

.text-content {
  width: 539.37px;
  height: 421px;
  margin-top: 303px;
  margin-bottom: 338px;
  margin-left: 10%;
}
.text-content .introduce {
  line-height: 30px;
  color: #505f98;
}
.text-content .intro {
  font-weight: 500;
  font-size: 50px;
  line-height: 66px;
}
.text-content .button-container {
  width: 100%;
  height: 100%;
}
.text-content .button-container .left-button {
  background-color: #111b47;
  color: white;
  width: 189.13px;
  height: 36px;
  margin-right: 30px;
}
.text-content .button-container .left-button:hover {
  background-color: #505f98;
}
.text-content .button-container .right-button {
  width: 189.13px;
  height: 36px;
  background: none;
  border-color: #111b47;
}
.text-content .button-container .right-button:hover {
  background-color: #505f98;
  color: #e7ecff;
}

.undraw-content {
  width: 100%;
  height: 742px;
  margin-top: 500px;
}
.undraw-content .image {
  width: 540px;
  height: 524px;
  margin-right: 165px;
}
.undraw-content .left-content {
  width: 540px;
  height: 430px;
  margin-left: 10%;
}
.undraw-content .left-content .top-info {
  height: 204px;
  margin-bottom: 80px;
}
.undraw-content .left-content .top-info .card-text {
  color: #505f98;
}
.undraw-content .left-content .undraw-title {
  font-size: 38px;
  margin-bottom: 16px;
  line-height: 95px;
  font-weight: 500;
}
.undraw-content .left-content p {
  line-height: 26px;
}
.undraw-content .left-content .card-one {
  height: 138px;
  margin-right: 30px;
}
.undraw-content .left-content .card-one p {
  font-size: 12px;
  margin-bottom: 5px;
  height: 26px;
}
.undraw-content .left-content .card-one .icon {
  width: 36px;
  width: 36px;
}
.undraw-content .left-content .card-two {
  height: 138px;
}
.undraw-content .left-content .card-two p {
  font-size: 12px;
  margin-bottom: 5px;
  height: 26px;
}
.undraw-content .left-content .card-two .icon {
  width: 36px;
  width: 36px;
}

.large-cards {
  width: 100%;
  height: 569px;
}
.large-cards .flower {
  width: 480px;
  height: 316px;
  margin-left: 10%;
}
.large-cards .left-content {
  width: 445px;
  height: 228px;
  margin-right: 165px;
}
.large-cards .left-content .undraw-title {
  font-size: 38px;
  margin-bottom: 16px;
  line-height: 95px;
  font-weight: 500;
}
.large-cards .left-content .top-info {
  height: 204px;
  margin-bottom: 80px;
}
.large-cards .left-content .top-info .card-text {
  color: #505f98;
}
.large-cards .left-content .btn {
  width: 150px;
  height: 32px;
  color: white;
  background-color: #111b47;
  font-size: 12px;
  border-radius: 2px;
  font-weight: 500;
}
.large-cards .left-content .btn:hover {
  background-color: #505f98;
}

.section-price {
  display: grid;
  place-items: center;
  margin-bottom: 150px;
}
.section-price .price-container {
  width: 600px;
}
.section-price .price-container .price-title {
  font-size: 38px;
  line-height: 95px;
  font-weight: 500;
  text-align: center;
}
.section-price .price-container .price-text {
  color: #505f98;
  text-align: center;
}
.section-price .price-container .price {
  font-size: 50px;
  margin-bottom: 16px;
  line-height: 66px;
  font-weight: 500;
  text-align: center;
}
.section-price .price-container .ui {
  text-align: center;
  color: #37447e;
}
.section-price .price-container .see {
  text-align: center;
  color: #5d6970;
  font-size: 14px;
}
.section-price .price-container .btn {
  width: 189px;
  height: 31px;
  color: white;
  background-color: #111b47;
  font-size: 12px;
  border-radius: 2px;
  font-weight: 500;
  margin-left: 35%;
}
.section-price .price-container .btn:hover {
  background-color: #505f98;
}

footer {
  width: 100%;
  background-color: #e7ecff;
}
footer .top-container {
  height: 200px;
  margin-left: 10%;
  margin-right: 10%;
}
footer .top-container .logo {
  font-size: 38px;
  font-weight: 900;
}
footer .top-container .btn {
  width: 160px;
  height: 26px;
  color: white;
  background-color: #111b47;
  font-size: 12px;
  border-radius: 2px;
  font-weight: 500;
}
footer .top-container .btn:hover {
  background-color: #505f98;
}
footer .top-container .company {
  color: #939ea4;
}
footer .center-container {
  display: grid;
  place-items: center;
}
footer .below-container {
  height: 100px;
  margin-left: 10%;
  margin-right: 10%;
}
footer .below-container .menu {
  width: 245px;
  height: 24px;
  color: #929ecc;
}
footer .below-container .icons {
  width: 200px;
}/*# sourceMappingURL=style.css.map */